<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div class="page">
        <div class="sidebar">

            <div class="logo_bar">
              <div class="logo_img"><img src="/images/logo.png"></div>
            </div>
            <ul class="nav_list">
              <li>
                <a href="/index">
                  <span class="links_name">Anasayfa</span>
                </a>
                <span class="tooltip">Anasayfa</span>
              </li>
              <li>
                <% if(loginn){ %>
                <a href="/profile">
                  <span class="links_name">Profilim</span>
                </a>
                <span class="tooltip">Profilim</span>
                <% } %>
              </li>
              <li>
                <% if(role==2){ %>
                <a href="/dailyReport">
                  <span class="links_name">Gün Listesi</span>
                </a>
                <span class="tooltip">Gün Listesi</span>
                <% } %>
              </li>
              <li>
                <% if(role==2){ %>
                <a href="/ownerPanel">
                  <span class="links_name">Çalışan Paneli</span>
                </a>
                <span class="tooltip">Çalışan Paneli</span>
                <% } %>
              </li>
            </ul>
            <div class="profile_content">
              <div class="name"><%=fullname%></div>
              <div class="logout"><a href="/login" id="logout"><i class="fa fa-sign-out" style="font-size:20px"></i></a> </div>
            </div>
          </div>


        <div class="homepage">
          <% if(users.length >0){%> <%users.forEach(user => { %>
            <form method="POST" action="/user/update">

                <fieldset class="fieldset"> 

                    <legend>Profilim:</legend>

                    <div class="profile_top">
                      

                        <div class="left_content">
        
                            <div class="content">
                                
                                <fieldset class="fieldset">

                                    <legend>Adı</legend>
                                    <input type="text" id="fname" name="Name" value="<%=user.name%>"></input>

                                </fieldset>

                            </div>
        
                            <div class="content">
                                
                                <fieldset class="fieldset">

                                    <legend>Soyadı</legend>
                                    <input type="text" id="lname" name="Surname" value="<%=user.surname%>"></input>

                                </fieldset>

                            </div>

                            <div class="content">
                                
                              <fieldset class="fieldset">

                                  <legend>Şifre</legend>
                                  <input type="password" id="pass" name="Password" ></input>

                              </fieldset>

                          </div>
        
                        </div>
        
                        <div class="right_content">
        
                            <div class="content">
                                
                                <fieldset class="fieldset">

                                    <legend>E-posta</legend>
                                    <input type="email" id="email" name="Email" value="<%=user.email%>"></input>

                                </fieldset>

                            </div>
        
                            <div class="content">
                                
                                <fieldset class="fieldset">

                                    <legend>Şirket ismi</legend>
                                    <%if(!user.role){ %>
                                      <input disabled  type="text" id="cname" name="CompanyName" value="<%=user.companyName%>"></input>
                                      <% } %>
                                      <%if(user.role){ %>
                                        <input  type="text" id="cname" name="CompanyName" value="<%=user.companyName%>"></input>
                                        <% } %>
                                </fieldset>

                            </div>

                            <div class="content">
                                
                              <fieldset class="fieldset">

                                  <legend>Şifre Tekrar</legend>
                                  <input type="password" id="pass2" name="PasswordApprove" ></input>

                              </fieldset>

                          </div>
        
                        </div>
                        
                    </div>

                    <div class="profile_under">

                        <button type="submit" >Submit</button>

                    </div>

                </fieldset>

            </form>
            
            <div class="second_page">

              <h2>Oda Rezervasyonlarım</h2>

              <div class="form">
                    
                <div class="genel">
                    
                    <div class="left_content">
                        
                            <ul class="table">
                                <li class="table-header">
                                    <div class="col col-1">Adı</div>
                                    <div class="col col-2">Soyadı</div>
                                    <div class="col col-3">E-posta</div>
                                    <div class="col col-4">ŞİRKET</div>
                                    <div class="col col-5">Gün</div>
                                    <div class="col col-7">Oda</div>
                            </ul>
                            <% if(reservations.length >0){%> <%reservations.forEach(reservation => { %>
                            <ul class="table">
                                <li class="table-row">
                                    <div class="col col-1"><%=user.name%></div>
                                    <div class="col col-2"><%=user.surname%></div>
                                    <div class="col col-3"><%=user.email%></div>
                                    <div class="col col-4"><%=user.companyName%></div>
                                    <div class="col col-5"><%=reservation.reserveDate%></div>
                                    <%if(reservation.isRoom){ %>
                                    <div class="col col-6"><%=reservation.rsvRoomName%></div>
                                    <% } else { %>
                                    <div class="col col-6">22</div>
                                    <% } %>
                                    <a href="/cancelreservation/<%=reservation.reserveId%>"><button class="button" type="submit">İptal Et</button></a>
                            </ul>
                            <% }) %> <% } %>
                            
                        
    
                    </div>
    

                </div>


              </div>

            </div>
            
            <div class="second_page">

              <h2>Koltuk Rezervasyonlarım</h2>

              <div class="form">
                    
                <div class="genel">
                    
                    <div class="left_content">
                        
                            <ul class="table">
                                <li class="table-header">
                                    <div class="col col-1">Adı</div>
                                    <div class="col col-2">Soyadı</div>
                                    <div class="col col-3">E-posta</div>
                                    <div class="col col-4">ŞİRKET</div>
                                    <div class="col col-5">Gün</div>
                                    <div class="col col-7">Koltuk No</div>
                            </ul>
                            <% if(seatReserve.length >0){%> <%seatReserve.forEach(reservation => { %>
                            <ul class="table">
                                <li class="table-row">
                                    <div class="col col-1"><%=user.name%></div>
                                    <div class="col col-2"><%=user.surname%></div>
                                    <div class="col col-3"><%=user.email%></div>
                                    <div class="col col-4"><%=user.companyName%></div>
                                    <div class="col col-5"><%=reservation.reserveDate%></div>
                                    <div class="col col-6"><%=reservation.rsvSeatNo%></div>
                                    
                                    <a href="/cancelreservation/<%=reservation.reserveId%>"><button class="button" type="submit">İptal Et</button></a>
                            </ul>
                            <% }) %> <% } %>
                            
                        
    
                    </div>
    

                </div>


              </div>

            </div>

            <% }) %> <% } %>
              
        </div>

          
    </div>
    
</body>
</html>